.block_bgwidget #chat-widget {
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: white;
    border: 0.1px solid gray;
    min-width: 20vh;
    min-height: 35vh;
    max-height: 50vh;
    overflow: hidden;
}

.block_bgwidget #chat-widget .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block_bgwidget #chat-messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.block_bgwidget .card-body {
    height: 100%;
    padding: 16px;
}

.block_bgwidget #bot_name {
    flex: 1 0 0;
}

.block_bgwidget .card {
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 0;
}

.block_bgwidget .ui-resizable-handle {
    position: absolute;
    width: 10px;
    height: 10px;
}

.block_bgwidget .ui-resizable-e {
    cursor: ew-resize;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.block_bgwidget .ui-resizable-w {
    cursor: ew-resize;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.block_bgwidget .ui-resizable-n {
    cursor: ns-resize;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.block_bgwidget .ui-resizable-s {
    cursor: ns-resize;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.block_bgwidget .ui-resizable-ne {
    cursor: nesw-resize;
    top: 0;
    right: 0;
}

.block_bgwidget .ui-resizable-se {
    cursor: nwse-resize;
    bottom: 0;
    right: 0;
}

.block_bgwidget .ui-resizable-sw {
    cursor: nesw-resize;
    bottom: 0;
    left: 0;
}

.block_bgwidget .ui-resizable-nw {
    cursor: nwse-resize;
    top: 0;
    left: 0;
}

.block_bgwidget .span-send-holder {
    height: calc(1.5em + 0.75rem + 2px);
}

.block_bgwidget .drawer.drawer-right {
    width: 330px;
    max-width: 330px;
}

.block_bgwidget #chat-move-toggle .pinned {
    color: rgb(15, 108, 191);
}

.block_bgwidget #chat-move-toggle.unpinned {
    color: gray;
}

.block_bgwidget .unpinned-message {
    color: gray;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}