.block_bgwidget #chat-widget {
    position: relative;
    /* Permite que los handles se posicionen correctamente dentro del contenedor */
    width: 100%;
    z-index: 1;
    background-color: white;
    border: 0.1px solid gray;
    /* Agrega un borde negro fino */
}

.block_bgwidget #chat-messages {
    flex: 1 0 50vh;
}

.block_bgwidget .card-body {
    padding: 16px;
}

.block_bgwidget.expanded {
    position: relative;
}

.block_bgwidget #bot_name {
    flex: 1 0 0;
}

.block_bgwidget .card {
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 0;
}

.block_bgwidget .ui-resizable-handle {
    position: absolute;
    /* Posiciona los handles de forma absoluta */
    width: 10px;
    height: 10px;
}

.block_bgwidget .ui-resizable-e {
    cursor: ew-resize;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.block_bgwidget .ui-resizable-w {
    cursor: ew-resize;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.block_bgwidget .ui-resizable-n {
    cursor: ns-resize;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.block_bgwidget .ui-resizable-s {
    cursor: ns-resize;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.block_bgwidget .ui-resizable-ne {
    cursor: nesw-resize;
    top: 0;
    right: 0;
}

.block_bgwidget .ui-resizable-se {
    cursor: nwse-resize;
    bottom: 0;
    right: 0;
}

.block_bgwidget .ui-resizable-sw {
    cursor: nesw-resize;
    bottom: 0;
    left: 0;
}

.block_bgwidget .ui-resizable-nw {
    cursor: nwse-resize;
    top: 0;
    left: 0;
}

.block_bgwidget .span-send-holder {
    height: calc(1.5em + 0.75rem + 2px);
}

.block_bgwidget .drawer.drawer-right {
    width: 330px;
    max-width: 330px;
}

.block_bgwidget .pinned {
    color: rgb(15, 108, 191);
    /* Color para el estado fijado */
}

.block_bgwidget .unpinned {
    color: gray;
    /* Color para el estado no fijado */
}