{{!
This file is part of Moodle - https://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <https://www.gnu.org/licenses/>.

@package     block_bgwidget
@category    render
@copyright   2024 Franco Muzzio <franco.muzzio@botgenes.com>
@license     https://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}

<link href="/blocks/bgwidget/styles.css" rel="stylesheet">

<div class="block_bgwidget">
    <div id="chat-widget"
        class="card"
        data-bot_id="{{bot_id}}"
        data-env="{{env}}"
        data-api_token="{{api_token}}"
        data-user_name="{{user_name}}"
        data-bot_name="{{bot_name}}"
        data-api_base_url="{{api_base_url}}">
        <div class="card-header d-flex justify-content-end align-items-center">
            <button id="chat-reset" class="btn btn-link">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
            <button id="chat-move-toggle" class="btn btn-link">
                <i class="fa fa-thumbtack" aria-hidden="true"></i>
            </button>
        </div>
        <div class="card-body">
            <div id="chat-messages" class="mb-3" style="height: 30vh; overflow-y: scroll; padding-right: 10px;"">
                <div id="loading-icon" class="text-center" style="display: none;">
                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                </div>
                {{#messages}}
                <div class="message p-2 mb-2 rounded {{#is_user}}bg-primary text-white{{/is_user}} {{^is_user}}bg-light text-dark{{/is_user}}">
                    <strong>{{#is_user}}{{user_name}}{{/is_user}}{{^is_user}}{{bot_name}}{{/is_user}}:</strong> {{content}}
                </div>
                {{/messages}}
            </div>
            <div class="input-group justify-content-center align-items-center">
                <input type="text" id="chat-input" class="form-control" placeholder="{{#str}} placeholdertext, block_bgwidget {{/str}}">
                <span class="input-group-btn d-flex span-send-holder justify-content-center align-items-center">
                    <button id="chat-send" class="btn btn-link" type="button">
                        <svg width="32px" height="32px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="web-app" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="paper-plane" fill="currentColor" fill-rule="nonzero">
                                        <path d="M13.7612096,12.010246 L3.00114069,10.9260828 L3.00000002,4.07390726 C2.9999013,3.48090338 3.4805459,3.00009873 4.07354978,3.00000001 C4.24030125,2.99997226 4.40476746,3.03878301 4.55391451,3.11335654 L20.4062223,11.0395104 C20.9366211,11.3047098 21.1516077,11.9496696 20.8864083,12.4800684 C20.78252,12.6878448 20.6140494,12.8563254 20.4062791,12.960226 L4.55631145,20.8863826 C4.02592835,21.1516134 3.38095585,20.936665 3.11572505,20.4062819 C3.04118163,20.2572172 3.00236221,20.092846 3.0023401,19.9261816 L3.00143069,13.0735399 L13.7612096,12.010246 Z" id="Shape"></path>
                                    </g>
                                </g>
                        </svg>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div id="unpinned-message" class="unpinned-message" style="display: none;">
        {{#str}} widget_unpinned_message, block_bgwidget {{/str}}
        <i class="fa fa-thumbtack" aria-hidden="true"></i>
    </div>
</div>

<script>
    // Pasar las variables de configuración desde PHP a JavaScript
    var bot_id = "{{bot_id}}";
    var env = "{{env}}";
    var api_token = "{{api_token}}";
    var user_name = "{{user_name}}";
    var bot_name = "{{bot_name}}";
    var api_base_url = "{{api_base_url}}";
</script>
